<div>
    <h5>
        <i class="fas fa-map-marker-alt"></i>&nbsp;USA
        <span style="float: right;">
            <i class="fas fa-mobile-alt"></i>&nbsp; 202-555-0173
        </span>
    </h5>


</div>


<div>
    <nav class="navbar navbar-expand-md" style="background-color:rgb(238, 238, 238);">

        <button style="font-size: 40px;" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#CollapseNavbar">
            &#8801;
        </button>

        <a class="navbar-brand" href="#">SaleKart</a>


        <div class="collapse navbar-collapse" id="CollapseNavbar">
            <ul class="nav">

                <li> <a *ngIf="loggedIn" href="/list" class="nav-link">Wish List</a></li>
                <li> <a *ngIf="loggedIn" href="/cart" class="nav-link">Cart</a></li>


                <li class="nav-item dropdown ">
                    <a *ngIf="loggedIn" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hi, {{userDetail.name}}
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <a *ngIf="loggedIn" class="dropdown-item" href="profile"><i class="fa fa-user"
                                aria-hidden="true"></i>  My Profile</a>
                        <a *ngIf="loggedIn" class="dropdown-item" href="update"><i class="fas fa-edit"></i>  Update
                            Details</a>
                        <a *ngIf="loggedIn" class="dropdown-item" href="order"><i
                            class="fa fa-shopping-basket" aria-hidden="true"></i> Order History</a>



                <li>
                    <hr class="dropdown-divider">
                </li>
                <a *ngIf="loggedIn" (click)="logout()" class="dropdown-item" href=""><i class="fas fa-sign-out-alt"></i>  Log Out</a>

        </div>
        </li>

        <li> <a *ngIf="!loggedIn" href="/login" class="nav-link">Login</a></li>






        </ul>
</div>

</nav>
</div>