.nav-link{
     color: black;
    font-size: 20px;
    margin: 0px 50px; 
   
    
   
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; 
   

} 
.dropdown-item{
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; 
}


.navbar-brand{
     color: black;
    font-size: 30px; 
     margin-left: 100px;
    margin-right:50px; 
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    
} 
h5{
    color: rgb(56, 56, 56);
    font-size: 12px;
    margin-left: 100px;
    margin-right:50px;
    padding: 1px;
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    
}
.nav-link:hover{
    color: rgb(88, 88, 88);
}
.navbar-brand:hover{
    color: rgb(88, 88, 88);
}

.logout:hover{
    cursor: pointer;
}


 