

h2,h4,h3,h5{
    /* text-align: center; */
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

}
.container{
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

}
.success{
    text-align: center;
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

}
ng-container{
    margin-top: 30%;
    margin-left: 20%;
}
#qty{
    margin-top: -50%;
   
}

#success{
    position: relative;
  animation: mymove 2s;
  animation-fill-mode: forwards;
}
@keyframes mymove {
    from {bottom: -200px;}
    to {bottom: 0px; }
  }
