<ng-container *ngIf="!submitted && !err">
  <div class="container" style="background-color:rgb(245, 245, 245);">

    <div style="text-align: center;" class="col-md-4">
      <br>

      <h3> <strong>Your Cart <span class="badge badge-secondary badge-pill">{{len}}</span></strong>
        &nbsp; <span><button (click)="goToCart()" class="btn btn-dark">Edit Cart</button></span>
      </h3>




      <ul class="list-group mb-3" *ngFor="let l of list">
        <li class="list-group-item d-flex justify-content-between">

          <div>
            <h4 style="max-width: 25ch;"> <strong>{{l.title}}</strong> </h4>
            <h4> <strong>Price:</strong> {{l.price | currency}} &nbsp;

            </h4>

          </div>
          <div>
            <img src="{{l.image}}" alt="" width="50" height="50">
            <span id="qty" class="badge badge-secondary badge-pill">{{l.quantity}}</span>
          </div>

        </li>


      </ul>
      <hr class="mb-4">
      <h3 style="color: green;"> <strong>Total:</strong> {{sum | currency}}</h3>

    </div>


    <!-- form -->
    <div class="container">
      <div class="col-md-8">
        <br>
        <h4 style="margin-left: 2%;" > <strong>Billing Address</strong> </h4>
        <div class="col-md-9">
          <div class="card mb-3 mt-3">
            <div class="card-body">


              <div class="row">
                <div class="col-sm-3">
                  <h5 class="mb-0">Contact</h5>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{userDetail.emailid}}
                  
                </div>
              </div>
              <hr>


              <div class="row">
                <div class="col-sm-3">
                  <h5 class="mb-0">Ship To</h5>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{userDetail.address}},{{userDetail.state}},{{userDetail.country}},{{userDetail.zip}}
                </div>
              </div>







              <hr>


            </div>
            <br>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button (click)="purchase()" style="float: right;" class="btn btn-success">Place Order</button>
            </div>
          </div>

          <br>
        </div>

      </div>

    </div>

  </div>
  <br>
</ng-container>

<ng-container *ngIf="submitted && !err">

  <div class="container" id="success">

    <br><br>
    <i style=" font-size: 70px;
      text-align:center;
      color: rgb(7, 136, 18);
      margin-left: 46.5%;" class="fas fa-check-circle"></i>
    <br>
    <br>
    <div class="success">
      <h4 id="cartEmpty">Order Successful!</h4>
      <h4>Thank You So Much For Your Order.</h4>
      <div><button (click)="shop()" class="btn btn-dark">Continue Shopping</button>
      </div>
    </div>




  </div>
</ng-container>

<ng-container *ngIf="err">
  <div class="container" style="text-align: center;">


    <div class="alert alert-danger" *ngIf="errorMessage">
      <i style="font-size: 50px;" class="fas fa-exclamation-triangle"></i>
      <br>



      {{errorMessage}}
    </div>

  </div>

</ng-container>