<div class="container" style="background-color:rgb(238, 238, 238);">

    <br>
    <div>
        <h3 style="text-align: center;"><strong>Update Details</strong> </h3>
    </div>

    <div style="margin-left: 13%;" class="col-md-9 ">
        <div class="card mb-3">

            <form>
                <div class="card-body">
                    <br>
                     <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="mb-0" for="name">Name</label>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" id="name" [(ngModel)]="userDetail.name" name="name">
                        </div>
                    </div> 
                    

                    <!-- <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="mb-0" for="username">User Name</label>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" [(ngModel)]="userDetail.username" class="form-control" id="username" 
                                name="username">
                        </div>
                    </div> -->
                    <!-- <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="mb-0" for="password">Password</label>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="password" class="form-control" id="password" [(ngModel)]="userDetail.name" name="name">
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="mb-0" for="name">Email Id</label>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="email" class="form-control" id="emailid" [(ngModel)]="userDetail.emailid"
                                name="emailid">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="mb-0" for="address">Address</label>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" id="address" [(ngModel)]="userDetail.address"
                                name="address">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="mb-0" for="state">State</label>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" id="state" [(ngModel)]="userDetail.state"
                                name="state">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="mb-0" for="country">Country</label>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" id="country" [(ngModel)]="userDetail.country"
                                name="country">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="mb-0" for="zip">Zip Code</label>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" id="zip" [(ngModel)]="userDetail.zip" name="zip">
                        </div>
                    </div>

                    <div>
                        <button style="float: right;" (click)="update()"   class="btn btn-dark">Update</button>
                    </div>

                   



                </div>
            </form>
            <br>
        </div>
        <br>
    </div>
    <br>



</div>