<ng-container *ngIf="listLength!=0 && !err">
    <div class="container">
        <div class="listHeading">
            <h2>My Wish List <span class="badge badge-secondary badge-pill">{{listLength}}</span></h2>
        </div>

        <br>

        <button aria-label="deleteAllWishList" style=" float: right; 
       margin-top: -5%; margin-left: 60%; color: black;" class="btn btn-danger" (click)="deleteAll()">Empty<i
                class="fas fa-trash"></i>
        </button>

        <button aria-label="shop" style=" float: right; 
        margin-right: 90%; margin-top: -5%;" (click)="goToShop()" type="button" class="btn btn-dark">
            Shop <i class="fas fa-shopping-bag"></i>
        </button>

        <div class="table-responsive">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>

                        <th>Price</th>

                        <th>Add To Cart</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of list">
                        <th><img src="{{l.image}}" alt="" width="60" height="60"></th>
                        <td>{{l.title}}</td>
                        <td>${{l.price}}</td>


                        <td><button aria-label="addToCart2" (click)="add(l)" class="btn btn-dark"
                                (click)="openSnackBar('Added Product To your Cart!',' Cart')">
                                <i class="fas fa-cart-plus"></i>
                            </button></td>
                        <td><button aria-label="deleteFromWishList" class="btn btn-danger"
                                (click)="deleteFromList(l)"><i class="fas fa-minus-circle"></i></button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="listLength==0 && !err">
    <div class="container">
        <div class="listHeading">
            <h2>My Wish List </h2>
        </div>
        <br><br>
        <i style=" font-size: 70px;
        text-align:center;
        color: rgb(90, 90, 90);
        margin-left: 46%;" class="fas fa-tshirt"></i>
        <br>
        <br>
        <div>
            <h4 id="wishListEmpty">Your Wish List Is Empty!</h4>
            <h4>Click <a href="/product">Here </a>To Continue Shopping.</h4>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="err">
    <div class="container" style="text-align: center;">


        <div class="alert alert-danger" *ngIf="errorMessage">
            <i style="font-size: 50px;" class="fas fa-exclamation-triangle"></i>
            <br>



            "Something bad happened!..Please try again later.."
        </div>

    </div>
</ng-container>