




<div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10 col-md-6 col-lg-6 col-xl-5">
            <div class="card  text-dark" style="border-radius: 10px;background-color:rgb(235, 235, 235);">
                <div class="card-body p-5 text-center">

                    <div class="mb-md-5 mt-md-4">

                        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                        
                       <p class="text-dark-50 mb-5">Please enter your User Name and password!</p> <br>

                        <div class="alert alert-danger" *ngIf="err">{{errorMessage}}</div>

                        <form class="form" [formGroup]="loginForm">
                            <div class="form-group">
                                <label for="username">User Name</label>
                               <input type="text" placeholder="Enter your User Name." id="username" class="form-control" formControlName="username" />
        
                            </div>
        
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password"  placeholder="Enter your Password." id="password" class="form-control" formControlName="password" />
        
                            </div>

                        </form>

                        <button class="btn btn-dark btn-lg px-5"  [disabled]="loginForm.invalid" (click)="login()"  type="submit">Login</button>
                       


                    </div>

                    <div>
                        <p class="mb-0">Don't have an account? <a href="/register" class="text-dark-50 fw-bold">Register</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>