 .container,h3,h2{
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
} 

input.ng-invalid.ng-touched {
    border: red 1px solid;
}
