<ng-container *ngIf="len!=0 && !err">

    <div>
        <h5 style="font-size: 20px;">My Cart <span class="badge badge-secondary badge-pill">{{len}}</span></h5>
        <h5 class="sum"> <strong>Total Amount: {{sum | currency }}</strong></h5>

        <button aria-label="deleteAll" style=" margin-top: -6%; margin-left: 80%; color: black;" class="btn btn-danger"
            (click)="deleteAll()">Empty <i class="fas fa-trash"></i>
        </button>

        <button aria-label="shop" style=" float: right; 
        margin-right: 80%; margin-top: -5%;" (click)="goToShop()" type="button" class="btn btn-dark">
            Shop <i class="fas fa-shopping-bag"></i>
        </button>

    </div>

    <div class="container">
        <div class="table-responsive">
            <table class="table  table-striped">
                <thead>
                    <tr>
                        <!-- <th>No:</th> -->
                        <th>Image</th>
                        <th>Name</th>

                        <th>Price</th>

                        <th>Qty</th>
                        <th>Sub Total</th>
                        <th>Save For Later</th>
                        <th>Remove</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of cartList; let i=index">

                        <!-- <td>{{i+1}}</td> -->

                        <td>
                            <img class="imgg" src="{{c.image}}" alt="productImage">

                        </td>
                        <td>{{c.title}}</td>
                        <td>{{c.price | currency}}</td>
                        <td>
                            <div>
                                <button (click)="plus(c,-1)" type="button" style="border-radius: 50%;"
                                    class="btn btn-dark">-</button>
                                &nbsp;
                                {{c.quantity}}
                                &nbsp;
                                <button (click)="plus(c,1)" type="button" style="border-radius: 50%;"
                                    class="btn btn-dark">+</button>
                            </div>

                        </td>


                        <td>${{c.quantity * c.price }}</td>


                        <td><button aria-label="wishList" style="text-align: center;" style="text-align: center;"
                                (click)="add(c)" class="btn btn-dark">
                                <i class="fas fa-heart"></i>
                            </button>
                        </td>

                        <td>

                            <button (click)="delete(c)" aria-label="delete" class="btn btn-danger" type="button">
                                <i class="fas fa-trash"></i>
                            </button>


                        </td>



                    </tr>

                    <tr>
                        <td colspan="6"></td>

                        <td>
                            <h5 class="sum"> <strong>Total Amount: {{sum | currency }}</strong> </h5>
                        </td>


                    </tr>

                </tbody>


            </table>

            <div>
                <button (click)="checkOut()" style="margin-left: 85%;" class="btn btn-dark">Check Out</button>

            </div>


        </div>
    </div>

    &nbsp;

</ng-container>


<ng-container *ngIf="len==0 && !err">
    <div class="container">
        <h2>My Cart</h2>
        <br><br>
        <i style=" font-size: 70px;
        text-align:center;
        color: rgb(90, 90, 90);
        margin-left: 46%;" class="fas fa-shopping-cart"></i>
        <br>
        <br>
        <div>
            <h4 id="cartEmpty">Your Cart Is Empty!</h4>
            <h4>Click <a href="/product">Here </a>To Continue Shopping.</h4>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="err">
    <div class="container" style="text-align: center;">


        <div class="alert alert-danger" *ngIf="errorMessage">
            <i style="font-size: 50px;" class="fas fa-exclamation-triangle"></i>
            <br>



            "Something bad happened!..Please try again later.."
        </div>

    </div>
</ng-container>