h3,p,h4,span{
    text-align: center;
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
  .card img{

    
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    padding:10px;
   
}
#CartButtons{
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}


 .card{
     margin-top: 30px;
     margin-left: 50px;
     margin-right: 40px;
     margin-bottom:30px;
     padding:10px;
     cursor: pointer;

     transition: transform 0.4s ease;
     box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
     border-radius: 10px;
    border: 0; 

  
}  
.card:hover{
    transform: scale(1.1);
}

 h5{
    font-size: 15px;
    color: rgb(71, 71, 71);
   text-align: center;
   font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

}


input{
    margin-left: 7%;
     margin-top: 6%; 
}

 /* .imgg{
    width:100px;
    height:100px;
} */

.btn:hover{
    color: white;
}
.dropdown{

    margin-left:110px;
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
.dropdown-item:hover{
    cursor: pointer;
}

abbr {
   
    cursor: auto !important;
    text-decoration: none !important;
  }
 .btn-group{
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
 }

 .item{
     margin: 0px 80px;
     text-align: center;
     cursor: pointer;

     transition: transform 0.3s ease;
    

 }
.item:hover{
    transform: scale(1.2);
}


::placeholder{
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}


/* input[type=text]{
    width: 130px;
   
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
    border-color: black;
  } */