<ng-container *ngIf="!err">

  <!-- filter -->
  <div class="container d-flex flex-lg-row flex-column">
    <div class="item">
      <a>
        <img (click)="filter('')" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="" width="40"
          height="40">
        <h5>All Products</h5>
      </a>
    </div>

    <div class="item">
      <a>
        <img (click)="filter('men')" src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg" alt="" width="40"
          height="40">
        <h5>Men</h5>
      </a>
    </div>

    <div class="item">
      <a>
        <img (click)="filter('women')" src="https://fakestoreapi.com/img/61pHAEJ4NML._AC_UX679_.jpg" alt="" width="40"
          height="40">
        <h5>Women</h5>
      </a>
    </div>

    <div class="item">
      <a>
        <img (click)="filter('jewelery')" src="https://fakestoreapi.com/img/51UDEzMJVpL._AC_UL640_QL65_ML3_.jpg" alt=""
          width="40" height="40">
        <h5>Jewelery</h5>
      </a>
    </div>

    <div class="item">
      <a>
        <img (click)="filter('electronics')" src="https://fakestoreapi.com/img/81Zt42ioCgL._AC_SX679_.jpg" alt=""
          width="40" height="40">
        <h5>Electronics</h5>
      </a>
    </div>
  </div>

  <!-- search -->
  <div class="container">

    <div class="form-group col-md-4 col-sm-6 col-xs-8">

      
      <input style="box-shadow: 0px 2px 4px 0 rgba(22, 22, 26, 0.18); text-align: center;" type="text"
       id="search" class="form-control  border rounded-pill" placeholder="Search for your Favourite Products.."
        [(ngModel)]="searchedKeyword">
       
    </div>

    <!-- sort -->

    <div class="btn-group dropright" aria-label="sorting" style="margin-left: 55%; margin-top: 1.5%;">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" aria-label="sorting"
        data-toggle="dropdown">Sort
        <i class="fas fa-sort"></i>
      </button>
      <div class="dropdown-menu" aria-label="dropdownMenuButton">
        <a (click)="sort('all')" class="dropdown-item">Featured</a>
        <a (click)="sort('low')" class="dropdown-item">Price- Low to High</a>
        <a (click)="sort('high')" class="dropdown-item">Price- High To Low</a>

        <a (click)="sort1('high')" class="dropdown-item">Rating- High to Low</a>
        <a (click)="sort1('low')" class="dropdown-item">Rating- Low to High</a>

      </div>

    </div>


  </div>


  <!-- product details -->
  <div class="container">
    <div class="row">

      <ng-container *ngFor="let p of filterList  | filter:searchedKeyword">
        <div class="card col-md-3 col-sm-4 col-xs-8">

          <div>
            <button aria-label="wishList" style="font-size: 2px;" (click)="addToWishList(p)" class="btn btn-dark">
              <i style="font-size: 10px;" class="fas fa-heart"></i>
            </button>



            <!-- <button [routerLink]="['/product', p.id]" aria-label="view" style=" float: right; font-size: 9px;" class="btn btn-dark">
              <i class="fas fa-eye"></i>
            </button> -->
          </div>


          <img class="img-fluid" [routerLink]="['/product', p.id]" src="{{p.image}}" alt="productImage">

          <h3 data-testing="title"
            style="white-space:nowrap; overflow: hidden;  text-align: center; text-overflow: ellipsis; max-width: 100ch;">
            <abbr title="{{p.title}}">{{p.title}}</abbr>
          </h3>
          <h4>Category: {{p.category}}</h4>
          <h4>Rating: {{p.rating}}&#9733;</h4>
          <p style="text-align: center;">Price: <strong>{{p.price | currency}}</strong></p>

          <!-- quantity -->

          <div style="text-align: center;">
            <button (click)="minus(p)" type="button" style="border-radius: 50%;" class="btn btn-dark">-</button>
            &nbsp;
            <span>{{p.quantity}}</span>
            &nbsp;
            <button (click)="plus(p)" type="button" style="border-radius: 50%;" class="btn btn-dark">+</button>
          </div>



          <br>
          <h5 style="text-align: center;">
            <i class="fas fa-check"></i> Free Delivery by SaleKart*
          </h5>

          <button id="CartButtons" aria-label="CartButton" (click)="addToCart(p)" type="button" class="btn btn-dark">Add
            To Cart</button>

        </div>
      </ng-container>


      <div class="alert alert-danger" *ngIf="err">{{errorMessage}}</div>


    </div>
  </div>


</ng-container>


<ng-container *ngIf="err">
  <div class="container" style="text-align: center;">


    <div class="alert alert-danger" *ngIf="err">
      <i style="font-size: 50px;" class="fas fa-exclamation-triangle"></i>
      <br>



      "Something bad happened!..Please try again later.."
    </div>

  </div>

</ng-container>