<ng-container *ngIf="!err" style="background-color:rgb(245, 245, 245);">

    <div class="container">

        <div class="col-md-6">
            <br>
            <img class="img-fluid" src="{{details.image}}" alt="productImage">
        </div>

        <div class="col-md-6">
            <br>
            <div class="heading">
                <h2 id="productTitle"> <strong>{{details.title}}</strong> </h2>
            </div>
            <div class="c">

                <h3> <strong>Description: </strong> {{details.description}}</h3>
                <h4><strong>Category: </strong> {{details.category}}</h4>
                <h4><strong>Rating:</strong> {{details.rating}}&#9733;</h4>
                <h4><strong>Price: </strong> {{details.price | currency}}</h4>

            </div>

            <button aria-label="back" (click)="back()" style="float: left;" class="btn btn-dark">Back
                <i class="fas fa-angle-double-left"></i>
            </button>
            <br>
        </div>

    </div>




    <br>
</ng-container>

<ng-container *ngIf="err">
    <div style="text-align: center;">


        <div class="alert alert-danger" *ngIf="errorMessage">
            <i style="font-size: 50px;" class="fas fa-exclamation-triangle"></i>
            <br>



            "Something bad happened!..Please try again later.."
        </div>

    </div>
</ng-container>