/* .container{
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    float: right;
    width: 50%;
    height: 50px;
    padding-left: 10px;
} */
.c{
    padding: 50px;
    text-align: left;
    
}
 img{
    height: 70%;
    width: 70%;
    padding-left: 40px;
   
    
} 
h2,h3,h4{
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
.heading{
    text-align: left;
}
h4{
    letter-spacing: 1px;
    line-height: 1.5;
}
