<div class="container" style="background-color:rgb(238, 238, 238);">
    <br>
    <h3 style="text-align: center;"> <strong>My Profile</strong> </h3>
    
    <div class="row">
        <div class="col-md-9 mb-3 col-sm-5 col-lg-3">
            
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">



                        <i class='fas fa-user-circle' style='font-size:150px'></i>
                        <div class="mt-4">
                            <h3> <strong>{{userDetail.name}}</strong> </h3>

                        </div>
                        <div>

                            <button (click)="gotocart()" class="btn btn-dark">My Cart <i
                                    class="fas fa-shopping-cart"></i> </button>
                            &nbsp;&nbsp;
                            <button (click)="updateUser()" class="btn btn-secondary">Update <i
                                    class="fas fa-edit"></i></button>
                            <br> <br>
                            <button (click)="goToOrders()" class="btn btn-info">My Orders <i
                                    class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h5 class="mb-0">Name</h5>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{userDetail.name}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h5 class="mb-0">Email Id</h5>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{userDetail.emailid}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h5 class="mb-0">Address</h5>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{userDetail.address}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h5 class="mb-0">State</h5>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{userDetail.state}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h5 class="mb-0">Country</h5>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{userDetail.country}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h5 class="mb-0">Zip Code</h5>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{userDetail.zip}}
                        </div>
                    </div>
                    <hr>

                </div>
                <br>
            </div>
            <br>
        </div>
    </div>
    <br>
</div>
<br>