<ng-container *ngIf="len!=0">
    <div class="container" style="background-color:rgb(238, 238, 238);">
        <br>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <br>
            <h3 class="d-flex justify-content-center"> <strong>My Orders</strong> </h3>
            <div class="table-responsive ">
                <table class="table table-hover  ">


                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Sub Total</th>
                            <th>Order Placed</th>
                        </tr>
                    </thead>

                    <tbody>


                        <tr *ngFor="let c of orderDetails">



                            <td>
                                <img class="imgg" src="{{c.image}}" alt="productImage" width="50" height="50">

                            </td>
                            <td>{{c.title}}</td>
                            <td>${{c.price}}</td>
                            <td>{{c.quantity}}</td>



                            <td>${{c.subTotal}}</td>
                            <td style="color: green;">{{c.dateOrdered |date }}</td>








                        </tr>



                    </tbody>


                </table>


            </div>
        </div>
    </div>


</ng-container>

<ng-container *ngIf="len==0">
    <div class="container ">
        <h2 class="d-flex justify-content-center">My Order History</h2>
        <br><br>
        <i style=" font-size: 70px;
        text-align:center;
        color: rgb(90, 90, 90);
        margin-left: 46%;" class="fas fa-shopping-cart"></i>
        <br>
        <br>
        <div style="text-align: center;">
            <h4 id="cartEmpty">You Have Not Ordered anything yet..!</h4> <br>
            <h4>Click <a href="/product">Here </a>To Shop from SaleKart.</h4>
        </div>
    </div>
</ng-container>