.container,h3,h2,h5,h4,td{
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
} 

button:hover{
    color: white;
}

.card img{

    
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
    padding:10px;
   
}

.card{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 40px;
    margin-bottom:30px;
    padding:10px;
    cursor: pointer;

   
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 10px;
   border: 0; 

 
}  
abbr {
   
    cursor: auto !important;
    text-decoration: none !important;
  }