<div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10 col-md-9 col-lg-11 col-xm-5">
            <div class="card  text-dark" style="border-radius: 10px;background-color:rgb(235, 235, 235);">
                <div class="card-body p-2 text-center">

                    <div class="mb-md-5 mt-md-4">

                        <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                        <p class="text-dark-50 mb-5">Please enter your details to Register with Us!</p>
                        <div class="alert alert-danger" *ngIf="err">{{errorMessage}}</div>



                        <form class="form" [formGroup]="registerForm">


                            <div class="col-lg-6">
                                <div class="p-5">
                                    <h3 class="fw-normal mb-5"> <strong>General Infomation</strong></h3>



                                    <div class="row">
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" id="name" placeholder="Enter your Name."
                                                    class="form-control" formControlName="name">
                                                <p *ngIf="registerForm.controls.name.dirty &&
                         
                                                registerForm.controls.name.invalid" class="alert alert-danger">

                                                    This field is required!
                                                </p>

                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div class="form-group">
                                                <label for="username">User Name</label>
                                                <input type="text" id="username" placeholder="Enter your User Name."
                                                    class="form-control" formControlName="username">
                                                <p *ngIf="registerForm.controls.username.dirty &&
                         
                                                    registerForm.controls.username.invalid" class="alert alert-danger">

                                                    This field is required!
                                                </p>

                                            </div>

                                        </div>
                                    </div>



                                    <div class="mb-4 pb-2">
                                        <div class="form-group">
                                            <label for="emailid">Email Id</label>
                                            <input type="email" id="emailid" placeholder="you@example.com"
                                                class="form-control" formControlName="emailid">
                                            <p *ngIf="registerForm.controls.emailid.dirty &&
                         
                                                registerForm.controls.emailid.invalid" class="alert alert-danger">

                                                This field is required!
                                            </p>

                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" id="password" placeholder="Enter your Password."
                                                class="form-control" formControlName="password">
                                            <p *ngIf="registerForm.controls.password.dirty &&
                         
                                            registerForm.controls.password.invalid" class="alert alert-danger">

                                                This field is required!
                                            </p>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="p-5">
                                    <h3 class="fw-normal mb-5"> <strong>Contact Details</strong> </h3>

                                    <div class="mb-4 pb-2">
                                        <div class="form-group form-white">
                                            <label for="address">Address</label>

                                            <input type="text" id="address" placeholder="1234 Main St"
                                                class="form-control" formControlName="address">
                                            <p *ngIf="registerForm.controls.address.dirty &&
                         
                                            registerForm.controls.address.invalid" class="alert alert-danger">

                                                This field is required!
                                            </p>
                                        </div>
                                    </div>



                                    <div class="mb-4 pb-2">
                                        <div class="form-group form-white">
                                            <label for="state">state</label>
                                            <input type="text" id="state" class="form-control"
                                                placeholder="Enter your State." formControlName="state">
                                            <p *ngIf="registerForm.controls.state.dirty &&
                         
                                            registerForm.controls.state.invalid" class="alert alert-danger">

                                                This field is required!
                                            </p>

                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div class="form-group form-white">
                                            <label for="country">Country</label>
                                            <input type="text" id="country" placeholder="Enter your Country"
                                                class="form-control" formControlName="country">
                                            <p *ngIf="registerForm.controls.country.dirty &&
                         
                                              registerForm.controls.country.invalid" class="alert alert-danger">

                                                This field is required!
                                            </p>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-7 mb-4 pb-2">

                                            <div class="form-group form-white">
                                                <label for="zip">Zip Code</label>
                                                <input type="number" id="zip" placeholder="Enter your Zip Code."
                                                    class="form-control" formControlName="zip">
                                                <p *ngIf="registerForm.controls.zip.dirty &&
                         
                                                registerForm.controls.zip.invalid" class="alert alert-danger">

                                                    This field is required!
                                                </p>

                                            </div>

                                        </div>

                                    </div>


                                </div>
                            </div>


                            <div class="col-lg-6 col-md-6 mb-4 pb-2" style="margin-left: 25%;">
                                <button type="button" [disabled]="registerForm.invalid" (click)="register()"
                                    class="btn btn-dark">Register
                                </button>
                                  &nbsp;&nbsp;
                                <button (click)="reset()" type="button" class="btn btn-secondary">Reset Details</button>



                                <br>
                                <br>
                                <h3>Already Have a Account? <a href="/login" class="text-dark-50 fw-bold">Login </a>
                                </h3>
                            </div>

                        </form>





                    </div>



                </div>
            </div>
            <br>
        </div>
    </div>
</div>